In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as ols
import statsmodels.api as sm
from patsy import dmatrix 
import matplotlib.pyplot as plt

In [ ]:
#a. How often does the candidate who raised more money win a race?
#b. How often does the candidate who spent more money win a race?
#c. Does the difference between either money raised or money spent 
# seem to influence the likelihood of a candidate winning a race?
#d. How often does the incumbent candidate win a race?
#e. Can you detect any relationship between amount of money raised and
# the incumbent status of a candidate?

In [35]:
df_ex = pd.read_csv('scraped_data.csv')
df_ex

,Unnamed: 0,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent
0,0,AL,1,Jerry Carl,R,False,True,64.9,"$1,971,321","$1,859,349"
1,1,AL,1,James Averhart,D,False,False,35.0,"$80,095","$78,973"
2,2,AL,2,Barry Moore,R,False,True,65.3,"$650,807","$669,368"
3,3,AL,2,Phyllis Harvey-Hall,D,False,False,34.6,"$56,050","$55,988"
4,4,AL,3,Mike D Rogers,R,True,True,67.5,"$1,193,111","$1,218,564"
...,...,...,...,...,...,...,...,...,...,...
803,803,WI,7,Tricia Zunker,D,False,False,39.2,"$1,261,957","$1,232,690"
804,804,WI,8,Mike Gallagher,R,True,True,64.0,"$3,202,905","$2,841,801"
805,805,WI,8,Amanda Stuck,D,False,False,36.0,"$416,978","$399,916"
806,806,WY,1,Liz Cheney,R,True,True,68.6,"$3,003,883","$3,060,167"
807,807,WY,1,Lynnette Grey Bull,D,False,False,24.6,"$134,597","$132,235"

In [ ]:
# need to change class types.

In [43]:
#df_ex['Raised'] = df_ex['Raised'].astype(float)
df_ex['Raised'] = df_ex['Raised'].replace(',', '')
df_ex

,Unnamed: 0,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent
0,0,AL,1,Jerry Carl,R,False,True,64.9,"$1,971,321","$1,859,349"
1,1,AL,1,James Averhart,D,False,False,35.0,"$80,095","$78,973"
2,2,AL,2,Barry Moore,R,False,True,65.3,"$650,807","$669,368"
3,3,AL,2,Phyllis Harvey-Hall,D,False,False,34.6,"$56,050","$55,988"
4,4,AL,3,Mike D Rogers,R,True,True,67.5,"$1,193,111","$1,218,564"
...,...,...,...,...,...,...,...,...,...,...
803,803,WI,7,Tricia Zunker,D,False,False,39.2,"$1,261,957","$1,232,690"
804,804,WI,8,Mike Gallagher,R,True,True,64.0,"$3,202,905","$2,841,801"
805,805,WI,8,Amanda Stuck,D,False,False,36.0,"$416,978","$399,916"
806,806,WY,1,Liz Cheney,R,True,True,68.6,"$3,003,883","$3,060,167"
807,807,WY,1,Lynnette Grey Bull,D,False,False,24.6,"$134,597","$132,235"

In [49]:
# make 'Raised' into a float, from another datatype:

#df_ex['Raised'] = df_ex['Raised'].str.replace(',', '')
#df_ex['Raised'] = df_ex['Raised'].str.replace('$', '')
df_ex['Raised'] = df_ex['Raised'].astype(float)
df_ex

,Unnamed: 0,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent
0,0,AL,1,Jerry Carl,R,False,True,64.9,1971321.0,"$1,859,349"
1,1,AL,1,James Averhart,D,False,False,35.0,80095.0,"$78,973"
2,2,AL,2,Barry Moore,R,False,True,65.3,650807.0,"$669,368"
3,3,AL,2,Phyllis Harvey-Hall,D,False,False,34.6,56050.0,"$55,988"
4,4,AL,3,Mike D Rogers,R,True,True,67.5,1193111.0,"$1,218,564"
...,...,...,...,...,...,...,...,...,...,...
803,803,WI,7,Tricia Zunker,D,False,False,39.2,1261957.0,"$1,232,690"
804,804,WI,8,Mike Gallagher,R,True,True,64.0,3202905.0,"$2,841,801"
805,805,WI,8,Amanda Stuck,D,False,False,36.0,416978.0,"$399,916"
806,806,WY,1,Liz Cheney,R,True,True,68.6,3003883.0,"$3,060,167"
807,807,WY,1,Lynnette Grey Bull,D,False,False,24.6,134597.0,"$132,235"

In [51]:
# make 'Spent' into a float, from another datatype:
df_ex['Spent'] = df_ex['Spent'].str.replace(',', '')
df_ex['Spent'] = df_ex['Spent'].str.replace('$', '')
df_ex['Spent'] = df_ex['Spent'].astype(float)
df_ex

C:\Users\micha\AppData\Local\Temp\ipykernel_15492\2252864151.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_ex['Spent'] = df_ex['Spent'].str.replace('$', '')

,Unnamed: 0,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent
0,0,AL,1,Jerry Carl,R,False,True,64.9,1971321.0,1859349.0
1,1,AL,1,James Averhart,D,False,False,35.0,80095.0,78973.0
2,2,AL,2,Barry Moore,R,False,True,65.3,650807.0,669368.0
3,3,AL,2,Phyllis Harvey-Hall,D,False,False,34.6,56050.0,55988.0
4,4,AL,3,Mike D Rogers,R,True,True,67.5,1193111.0,1218564.0
...,...,...,...,...,...,...,...,...,...,...
803,803,WI,7,Tricia Zunker,D,False,False,39.2,1261957.0,1232690.0
804,804,WI,8,Mike Gallagher,R,True,True,64.0,3202905.0,2841801.0
805,805,WI,8,Amanda Stuck,D,False,False,36.0,416978.0,399916.0
806,806,WY,1,Liz Cheney,R,True,True,68.6,3003883.0,3060167.0
807,807,WY,1,Lynnette Grey Bull,D,False,False,24.6,134597.0,132235.0

In [86]:
df_ex.dtypes

Unnamed: 0           int64
State               object
District             int64
Name                object
Party               object
Incumbent             bool
Winner                bool
Vote Percentage    float64
Raised             float64
Spent              float64
Won                   bool
dtype: object

In [102]:
#a. How often does the candidate who raised more money win a race?
#return df_ex['Raised'].agg(np.max)
# - or perhaps test via simple correlation?
#a_test = glm(formula = 'Vote Percentage ~ Raised', data = df_ex, family = sm.families.Gaussian()).fit()
#print(a_test.params)
#a_test2 = sm.OLS('Winner ~ Incumbent', data = df_ex).fit()
#a_test2.summary()
#df_ex['Incumbent'].corr(df_ex['Winner'])
#df_test = df_ex[df_ex(['State'] & df_ex['District'])]
#df_test
df_ex['MaxRaise&Won'] = df_ex.groupby(['State', 'District'])['Raised'].transform(lambda x: x == x.max())
df_ex

,Unnamed: 0,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent,MaxRaise&Won
0,0,AL,1,Jerry Carl,R,False,True,64.9,1971321.0,1859349.0,True
1,1,AL,1,James Averhart,D,False,False,35.0,80095.0,78973.0,False
2,2,AL,2,Barry Moore,R,False,True,65.3,650807.0,669368.0,True
3,3,AL,2,Phyllis Harvey-Hall,D,False,False,34.6,56050.0,55988.0,False
4,4,AL,3,Mike D Rogers,R,True,True,67.5,1193111.0,1218564.0,True
...,...,...,...,...,...,...,...,...,...,...,...
803,803,WI,7,Tricia Zunker,D,False,False,39.2,1261957.0,1232690.0,False
804,804,WI,8,Mike Gallagher,R,True,True,64.0,3202905.0,2841801.0,True
805,805,WI,8,Amanda Stuck,D,False,False,36.0,416978.0,399916.0,False
806,806,WY,1,Liz Cheney,R,True,True,68.6,3003883.0,3060167.0,True
807,807,WY,1,Lynnette Grey Bull,D,False,False,24.6,134597.0,132235.0,False

In [101]:

df_ex

,Unnamed: 0,State,District,Name,Party,Incumbent,Winner,Vote Percentage,Raised,Spent,MaxRaise&Won
0,0,AL,1,Jerry Carl,R,False,True,64.9,1971321.0,1859349.0,True
1,1,AL,1,James Averhart,D,False,False,35.0,80095.0,78973.0,False
2,2,AL,2,Barry Moore,R,False,True,65.3,650807.0,669368.0,True
3,3,AL,2,Phyllis Harvey-Hall,D,False,False,34.6,56050.0,55988.0,False
4,4,AL,3,Mike D Rogers,R,True,True,67.5,1193111.0,1218564.0,True
...,...,...,...,...,...,...,...,...,...,...,...
803,803,WI,7,Tricia Zunker,D,False,False,39.2,1261957.0,1232690.0,False
804,804,WI,8,Mike Gallagher,R,True,True,64.0,3202905.0,2841801.0,True
805,805,WI,8,Amanda Stuck,D,False,False,36.0,416978.0,399916.0,False
806,806,WY,1,Liz Cheney,R,True,True,68.6,3003883.0,3060167.0,True
807,807,WY,1,Lynnette Grey Bull,D,False,False,24.6,134597.0,132235.0,False

In [92]:

#df_t = df_ex(['Won'] == True).sum() / df_ex['Won'].count()
#df_t

TypeError: 'DataFrame' object is not callable

In [ ]:
#df_ex['Incumbent'].corr(df_ex['Winner'])
#df_ex['Incumbent'].plot(kind = 'bar')

# copy the data
#df_min_max_scaled = inequality_clean.copy()

# ap normalization techniques
#column = 'Gini coefficient'
#df_min_max_scaled['Gini coefficient'] = (df_min_max_scaled['Gini coefficient'] - df_min_max_scaled['Gini coefficient'].min()) / (df_min_max_scaled['Gini coefficient'].max() - df_min_max_scaled['Gini coefficient'].min())	

# view normalized data
#display(df_min_max_scaled)

In [ ]:
#b. How often does the candidate who spent more money win a race?

In [71]:
#d. How often does the incumbent candidate win a race?

#df_i_win = df_ex[(df_ex["Incumbent"]==True) \
#                 & (df_ex["Winner"]==True)] / df_ex[df_ex["Winner"]]
#df_i_win
df_ci1 = df_ex[(df_ex["Incumbent"]==True) & (df_ex["Winner"]==True)].count()
df_2 = df_ci1/df_ex[df_ex["Winner"]].count()
df_2

Unnamed: 0         0.859813
State              0.859813
District           0.859813
Name               0.859813
Party              0.859813
Incumbent          0.859813
Winner             0.859813
Vote Percentage    0.859813
Raised             0.859813
Spent              0.859813
dtype: float64